.Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.Image {
    height:auto;
    width:400px;
}

.Button {
    background-color:red;
}

.Heading {
    font-family: "Courier New", Monospace;
    color:white;
}

.Title {
    font-family: "Courier New", Monospace;
}