.Image {
    height:auto;
    width:400px;
}

.Button {
    background-color:rgb(165, 34, 252);
}

.Heading {
    font-family: "Courier New", Monospace;
    color:white;
}

.Title {
    font-family: "Courier New", Monospace;
}