.Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.Child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Image {
    height:auto;
    width:350px;
}

.Button {
    background-color:rgb(146, 12, 12);
}

.Heading {
    font-family: "Courier New", Monospace;
    color:white;
}

.Title {
    font-family: "Courier New", Monospace;
}